<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <title>Sign In</title>
</head>

<body>



  <div class="ParentContainer">

    <div class="loginParentContainer">

      <div class="loginContainer">
      <h1 class="sign"><a class="sign" href="{{ url_for('main.index') }}">Habit Tracker</a></h1>

        <p class="sign" align="center">Sign in</p>
      <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div  class="flashMessages">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
        <form id="loginForm" action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>
            {{ form.username(class="loginForm username", placeholder="Username")}}
          </p>
          <p>
            {{ form.password(class="loginForm password", placeholder="Password", type="password") }}
          </p>
          <p>
            {{ form.submit(class="loginSubmit") }}
          </p>
        </form>
        <p align="center"><a class="loginText" href="{{ url_for('auth.register') }}">Click to Register!</a></p>
        <p align="center">
          <a class="loginText" href="#">Click to Reset Password</a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>
