<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <title>Register</title>
</head>

<body>

<div class="ParentContainer">
    <div class="loginParentContainer">
      <div class="loginContainer">
        <h1 class="sign"><a class="sign" href="{{ url_for('main.index') }}">Habit Tracker</a></h1>
        <p class="sign" align="center">Register</p>
        <div>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <div>{{ message }}</div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          {# application content needs to be provided in the app_content block #}
          {% block app_content %}{% endblock %}
        </div>
          <form id="loginForm" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
              {{ form.username(class="loginForm username", placeholder="Username")}}
            </p>
            <p>
              {{ form.email(class="loginForm username", placeholder="Email")}}
            </p>
            <p>
              {{ form.password(class="loginForm password", placeholder="Password", type="password") }}
            </p>
            <p>
              {{ form.password2(class="loginForm password", placeholder="Repeat Password", type="password") }}
            </p>
            <p>
              {{ form.submit(class="loginSubmit") }}
            </p>
          </form>

      </div>
    </div>
  </div>
</body>

</html>

