<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% block title %}
  <title>{% if title %}{{ title }} - Habit Tracker{% else %}Habit Tracker {% endif %}</title>
  {% endblock %}
</head>

<body>
  <header>
    {% block navbar %}
    <nav>
      <ul>
        <li><a class="navLink" href="{{ url_for('main.index') }}">Habit Tracker</a></li>
        <li><a class="navLink" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
        <li><a class="navLink" href="{{ url_for('auth.logout') }}">Logout</a></li>
      </ul>
    </nav>
    {% endblock %}
  </header>
  <div class="container">
    {% block content %}
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div>{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {# application content needs to be provided in the app_content block #}
      {% block app_content %}{% endblock %}
    </div>
    {% endblock %}
  </div>
</body>

</html>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}
<script>
function translate(sourceElem, destElem, sourceLang, destLang) {
  $(destElem).html("<img src={{ url_for('static', filename='loading.gif') }}>");
  $.post('/translate', {
    text: $(sourceElem).text(),
    source_language: sourceLang,
    dest_language: destLang
  }).done(function(response) {
    $(destElem).text(response['text'])
  }).fail(function() {
    $(destElem).text("{{ _('Error: Could not contact server.') }}");
  });
}
</script>
{% endblock %}
