{% extends "base.html" %}
{% block app_content %}

<div class="habitPageGrid">
  <div class="habitPageTitle"><h1 style="text-transform: capitalize;"> Settings for {{ habit.habit }}</h1>
</div>
  <div id="mini-clndr"></div>
  <div class="habitPage stats">
    <h2 align="left">Stats</h2>
    <p>Streak:</p>
    <p>Goal</p>
  </div>
  <div class="habitPage settings">
    <h2 align="left">Settings</h2>
    <form id="habitSettingForm" action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.habit.label }}<br>
        {{ form.habit(class="habitForm")}}
      </p>
      <p>
        {{ form.weekly_goal.label }}<br>
        {{ form.weekly_goal(class="habitForm") }}
      </p>
      <p>
        {{ form.submit(class="habitFormSubmit") }}
      </p>

  </div>
</div>

<ul>
    {% for entry in habit_history %}
    <li>{{ entry.timestamp }}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static',filename='js/scripts.js') }}"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="{{ url_for('static',filename='js/node_modules/underscore/underscore-min.js') }}"></script>
<script src="{{ url_for('static',filename='js/node_modules/moment/moment.js') }}"></script>
<script src="{{ url_for('static',filename='js/node_modules/clndr/clndr.min.js') }}"></script>


<script id="calendar-template" type="text/template">
  <div class="controls">
    <div class="clndr-previous-button">&lsaquo;</div><div class="month"><%= month %></div><div class="clndr-next-button">&rsaquo;</div>
  </div>

  <div class="days-container">
    <div class="days">
      <div class="headers">
        <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
      </div>
      <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
    </div>
  </div>
</script>

<script type="text/javascript">

var currentMonth = moment().format('YYYY-MM');
var nextMonth    = moment().add('month', 1).format('YYYY-MM');
  var events = [];
  {% for entry in habit_history %}
    events.push({'date':'{{ entry.timestamp }}','id': 'test' });
  {% endfor %}

var habit_id = '{{ habit.id }}';

$('#mini-clndr').clndr({
  template: $('#calendar-template').html(),
  events: events,
  clickEvents: {
    click: function(target) {

      if($(target.element).hasClass("event")) {

        $(target.element).removeClass("event");
        $.post("/_undo", {
          id: habit_id,
          // TODO: EDIT TO REFLECT REAL NUMBERS
          weekly_count: 1,
          timestamp: moment(target.date).format('YYYY-MM-DD')
        });

      } else {
        $(target.element).addClass("event");
          $.post("/_complete", {
          id: habit_id,
          // TODO: EDIT TO REFLECT REAL NUMBERS
          weekly_count: 1,
          timestamp: moment(target.date).format('YYYY-MM-DD')
        });

      }
    }
  },
  adjacentDaysChangeMonth: true,
  // TODO: allow users to adjust weekOffset setting
  weekOffset: 1
});

</script>

<script type="text/javascript">


</script>


{% endblock %}
