{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet"
      href="{{url_for('static', filename='style.css')}}">
  {% endblock %}



{% block app_content %}

    <h1 style="text-transform: capitalize;">Welcome {{ user.username }}</h1>
    <br>
    <h3><a href="{{ url_for('main.new_habbit') }}">Create a new habbit</a></h3>



  <table style="width:65%;">
    <tr>
      <th>Habbit</th>
      <th>Weekly Goal</th>
      <th>Today's Status</th>
      <th>Current Streak</th>
      <th>Weekly Progress</th>
      <th>Longest Streak</th>

    </tr>

    {% for habbit in habbits %}

    <tr>
      <td><a href="{{ url_for('main.habbit', username=current_user.username, id=habbit.id, habbit=habbit.habbit) }}">{{ habbit.habbit }}</a></td>
      <td>{{ habbit.weekly_goal}}</td>
      <td>
        {% if habbit.active_today == True %}
        <input class="habbitCheckbox" type="checkbox" name="today.{{ habbit.id }}" id="{{ habbit.id }}"></input>
        {% else %}
        <input class="habbitCheckbox" type="checkbox" name="today.{{ habbit.id }}" id="{{ habbit.id }}" checked></input>
        {% endif %}
      </td>
      <td><span id="current_streak{{ habbit.id }}">{{ habbit.current_streak }}</span></td>
      <td><span id="weekly_prog_percent{{ habbit.id }}">{{ (habbit.current_streak / habbit.weekly_goal) * 100 }}</span></td>
      <td><span id="longest_streak{{ habbit.id }}">{{ habbit.longest_streak }}</span></td>
    </tr>
  {% endfor %}


</table>


{% endblock %}

{% block scripts %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
$('.habbitCheckbox').click(function() {
    var id = $(this).attr('id')
    // alert(id)
    // alert($(this).attr('id'));  //-->this will alert id of checked checkbox.
       if(this.checked){
            $.post('/_complete', {
              id: id
            }).done(function(data) {
                $("#current_streak" + id).text(data.current_streak);
                $("#longest_streak" + id).text(data.longest_streak);
                $("#weekly_prog_percent" + id).text(data.weekly_prog_percent);

            })
          }
        else {
            $.post('/_undo', {
            id: $(this).attr('id')
            }).done(function(data) {
                $("#current_streak" + id).text(data.current_streak);
                $("#longest_streak" + id).text(data.longest_streak);
                $("#weekly_prog_percent" + id).text(data.weekly_prog_percent);
            })
          }
      });
</script>




{% endblock %}
