{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}
{% block app_content %}
<h1 style="text-transform: capitalize;">Welcome {{ user.username }}</h1>
<br>
<h3><a href="{{ url_for('main.new_habit') }}">Create a new habit</a></h3>
<table style="width:65%;">
    <tr>
        <th>Habit</th>
        <th>Weekly Goal</th>
        <th>Today's Status</th>
        <th>Current Streak</th>
        <th>Weekly Count</th>
        <th>Longest Streak</th>
    </tr>
    {% for habit in habits %}
    <tr>
        <td><a href="{{ url_for('main.habit', username=current_user.username, id=habit.id, habit=habit.habit) }}">{{ habit.habit }}</a></td>
        <td>{{ habit.weekly_goal}}</td>
        <td>
            <input class="habitCheckbox" type="checkbox" name="{{ habit.id }}" id="checkbox{{ habit.id }}"></input>
        </td>
        <td><span id="current_streak{{ habit.id }}">{{ habit.current_streak }}</span></td>
        <td><span id="weekly_count{{ habit.id }}"></span></td>
        <td><span id="longest_streak{{ habit.id }}">{{ habit.longest_streak }}</span></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- TODO: Make sure script runs each time page is navigated to. -->
<script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
{% endblock %}
