{% extends "base.html" %}
{% block app_content %}
<div class="newHabitText"><h3><a href="{{ url_for('main.new_habit') }}">Create a new habit</a></h3></div>


<div class="habitParentContainer">

    {% for habit in habits %}

        <div class="habitCell">
            <a class="cell habitTitle" href="{{ url_for('main.habit', username=current_user.username, id=habit.id, habit=habit.habit) }}">{{ habit.habit }}</a>



            <div class="cell weekStatus">
                <p>Completed This Week</p>
                <p><span id="weekly_count{{ habit.id }}"></span>/ {{habit.weekly_goal }}</p>
            </div>

            <div class="cell todayStatus">
                <input class="habitCheckbox" type="checkbox" name="{{ habit.id }}" id="checkbox{{ habit.id }}"></input>
            </div>
        </div>




    {% endfor %}

</div>
{# <table style="width:65%;">
    <tr>
        <th>Habit</th>
        <th>Weekly Goal</th>
        <th>Today's Status</th>
        <th>Current Streak</th>
        <th>Weekly Count</th>
        <th>Longest Streak</th>
    </tr>
    <tr>
        <td></td>
        <td>{{ habit.weekly_goal}}</td>
        <td>

        </td>
        <td><span id="current_streak{{ habit.id }}">{{ habit.current_streak }}</span></td>
        <td><span id="weekly_count{{ habit.id }}"></span></td>
        <td><span id="longest_streak{{ habit.id }}">{{ habit.longest_streak }}</span></td>
    </tr>
</table>
 #}
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- TODO: Make sure script runs each time page is navigated to. -->
<script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
{% endblock %}
